<div class="espacio-menu"></div>
<section class="section caracteristicas">
  <div class="container">

  <h2 class="text-center">Descargar sanus</h2><br><br>
  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi possimus quam, consectetur nobis molestiae fugit, recusandae eius id ab quidem nemo quas non aliquam obcaecati, iste asperiores, qui tempore animi!</p>
  <br><br>
  <a href="#" class="btn-center">
    <i class="fa fa-download" aria-hidden="true"></i>
    Descargar
  </a>

  </div>
 </section><!-- SECCION BENEFICIOS -->
