<div class="espacio-menu"></div>
<section class="section beneficios planes">
  <div class="container">

    <div class="row">

        <div class="col-sm-4">

          <div class="card icon">
            <div class="card-body">
              <h3>Plan Basico</h3>
              <div class="precio">
                $ 27.00 mxn
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>

        </div>
        <div class="col-sm-4">

          <div class="card icon">
            <div class="card-body">
              <h3>Plan Professional</h3>
              <div class="precio">
                $ 27.00 mxn
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>

        </div>
        <div class="col-sm-4">

          <div class="card icon">
            <div class="card-body">
              <h3>Plan Empresarial</h3>
              <div class="precio">
                $ 27.00 mxn
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>

        </div>

    </div><!-- ROW -->

  </div>
 </section><!-- SECCION BENEFICIOS -->
