<nav class="navbar navbar-expand-lg navbar-light navbar-fixed">
  <a class="navbar-brand nav-img" href="#">
    <img src="./assets/img/logo.png" width="100%">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Beneficios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Caracteristicas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Planes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Descargar</a>
        </li>
      </ul>
    </form>
  </div>
</nav>
